h1{color: darkgreen;}
h2{ color: lightgreen;}
h3{color: olivedrab;}
.amarillo{background-color: lemonchiffon;}
nav ul li{background-color: darkgreen;color: azure;}
section ul li{background-color: lemonchiffon;}
footer { background-color: darkgreen;}